#front {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    grid-area: 1 / 1 / 4 / 3;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#back {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    grid-area: 2 / 2 / 5 / 4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 400px;
    height: auto;
}
#magneticStrip {
    background-color: black;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    grid-column: 1 / 3;
}
#cardBack {
    grid-area: 3 / 2 / 4 / 3;
    margin-bottom: 35px;
}
#cardFront {
    grid-area: 2 / 1 / 4 / 3; 
}
#cardIcon {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end; 
    margin-right: 20px;
      
}
#cardDetails {
    display: flex; 
    gap: 16px; 
    align-items: flex-start;
}
button {
  margin-top: 10px;
  margin-left: 350px;
  width: 100px;
  height: 25px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 5px;
}