@font-face {
    font-family: "Trajan Pro";
    src: url("trajan-pro (1)/TrajanPro-Regular.ttf") format("truetype");
}
header h1, header h3 {
    text-align: center;
    font-family: "Trajan Pro", serif;
}
h3 {
    font-size: 15px;
    color: #6091C4;
    margin-bottom: 2px;
    letter-spacing: 1.5px;
}
h1 {
    margin-top: 70px;
    font-size: 35px;
}
#container {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
body {
    display: flex;
    align-items: center;
    font-family:"Times New Roman", Times, serif;
    justify-content: center;
    width: 100%;
}
footer {
    text-align: center;
    width: 100%;
}
img {
    max-width: 150px;
    height: auto;
}
hr {
    width: 45%;
    margin-top: 0;
}
main {
    width: 45%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
p {
    line-height: 1.6;
}
li {
    line-height: 1.6;
}

