body {
    background-color: lightgrey;
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center; 
}
p {
    color: blue;
}
hr {
    background-color: blue;
    border-color: blue;
}