@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
/* Show nav links when menu is open on small screens */
nav.open a {
    display: block;
}
#menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: transform 2s ease;
}
#menu-btn:active {
    transform: scale(0.9);
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: all 2s ease;
}
footer {
    text-align: center;
}
.active .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}
.active .bar2 {opacity: 0;}

.active .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
    #menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: right;
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}