body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b30059;
    text-decoration: none;
}
hr {
    border: 0;
    height: 1px;
    background-color: goldenrod;
    margin: 20px 0;
}
#book-list {
    padding: 0 2rem;
}
.book {
    display: block;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}
#extra-hr {
    margin-top: 80px;
}
.book p {
    text-align: right;
}
#desc {
    text-align: left;
}


@media (min-width: 768px) {
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #extra-hr {
        margin-top: 0;
        display: none;
    }
    .book p {
        grid-column: 1 / 2;
        text-align: right;
    }
    h2, img, #desc {
        grid-column: 2 / 3;
        text-align: left;
    }

}