
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
  position: relative;
}

main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
  margin-right: 40px; 
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}


.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.3s;
}

nav {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  display: none; 
  margin-top: 0.5rem;
}

nav.show {
  display: block; 
}

nav a {
  display: block;
  padding: 10px;
  margin: 5px 0;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

nav a:last-child {
  border-bottom: none;
}

nav a:hover {
  text-decoration: none;
  color: #616061;
  background-color: #f0f0f0;
}

footer {
  text-align: center;
}


@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  h1 {
    margin-right: 0; 
  }


  .menu-btn {
    display: none;
  }

  nav {
    position: static;
    display: block !important; 
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 1rem;
    text-align: center;
  }

  nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-bottom: none;
  }

  main section {
    flex: 1 1 45%;
    margin: 1%;
    max-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  main section {
    flex: 1 1 30%;
  }
  main {
    flex-wrap: nowrap;
  }
}